doctype html
html
    //- you needed block to start indented
    block cool-config
    head
        title=myTitleForGoogleSearch
        meta(name="description", content=myDescriptionForGoogleSearch)
        link(rel="stylesheet", href="style.css")
    body
        block awesome-content